<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Noah_AppDev_Ecommerce">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.e_commerceapp_store.About"></activity>
        <activity android:name="com.example.e_commerceapp_store.AddStock" />
        <activity android:name="com.example.e_commerceapp_store.Shoes" />
        <activity android:name="com.example.e_commerceapp_store.BottomWear" />
        <activity android:name="com.example.e_commerceapp_store.Formals" />
        <activity android:name="com.example.e_commerceapp_store.tShirts" />
        <activity android:name="com.example.e_commerceapp_store.DisplayItem" />
        <activity android:name="com.example.e_commerceapp_store.WomensClothing" />
        <activity android:name="com.example.e_commerceapp_store.MensClothing" />
        <activity android:name="com.example.e_commerceapp_store.OtherItems" />
        <activity android:name="com.example.e_commerceapp_store.Books" />
        <activity android:name="com.example.e_commerceapp_store.Electronics" />
        <activity android:name="com.example.e_commerceapp_store.Clothing" />
        <activity android:name="com.example.e_commerceapp_store.CurrentOrderStatus" />
        <activity android:name="com.example.e_commerceapp_store.AcceptOrders" />
        <activity android:name="com.example.e_commerceapp_store.AddStaff" />
        <activity android:name="com.example.e_commerceapp_store.PlaceOrder" />
        <activity android:name="com.example.e_commerceapp_store.StaffLogin" />
        <activity android:name="com.example.e_commerceapp_store.StaffHomePage" />
        <activity android:name="com.example.e_commerceapp_store.AdminHomePage" />
        <activity android:name="com.example.e_commerceapp_store.AdminLogin" />
        <activity
            android:name="com.example.e_commerceapp_store.HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.e_commerceapp_store.RegisterPage" />
        <activity android:name="com.example.e_commerceapp_store.LoginPage" />
        <activity android:name="com.example.e_commerceapp_store.RegLogChoice" />
        <activity android:name="com.example.e_commerceapp_store.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>