<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Noah_AppDev_Ecommerce">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.Noah_AppDev_Ecommerce.About"></activity>
        <activity android:name="com.example.Noah_AppDev_Ecommerce.AddStock" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.Shoes" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.BottomWear" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.Formals" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.tShirts" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.DisplayItem" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.WomensClothing" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.MensClothing" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.OtherItems" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.Books" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.Electronics" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.Clothing" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.CurrentOrderStatus" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.AcceptOrders" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.AddStaff" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.PlaceOrder" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.StaffLogin" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.StaffHomePage" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.AdminHomePage" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.AdminLogin" />
        <activity
            android:name="com.example.Noah_AppDev_Ecommerce.HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.RegisterPage" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.LoginPage" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.RegLogChoice" />
        <activity android:name="com.example.Noah_AppDev_Ecommerce.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>